body {
  margin: 0;
  font-family: Arial;
}

.app {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #1f2937;
  color: red;
  height: 100vh;
  padding: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: none;
  color:burlywood;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background: #374151;
}

.main {
  flex: 1;
  padding: 20px;
}

.cards {
  display: flex;
  gap: 10px;
}

.card {
  background: #589af0;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.blue { background: #3b82f6; }
.green { background: #22c55e; }
.yellow { background: #f59e0b; }
.purple { background: #a855f7; }

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
}

button {
  padding: 8px 12px;
  margin-bottom: 10px;
}

.app {
  display: flex;
  height: 100vh;
  font-family: Arial;
}

.sidebar {
  width: 200px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #334155;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 20px;
  background: #f1f5f9;
}

.box {
  background: rgb(53, 229, 123);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card {
  background: #589af0;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
